@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.body-item {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1282px;
  margin-right: auto;
  margin-left: auto;
}
.logo-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #000000;
  padding-top: 63px;
}
.accent-color {
  color: #4bcaff;
}
.navbar {
  height: 71px;
  background-color: #35444f;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 72px;
  align-self: center;
}
.nav-item {
  display: flex;
  align-items: center;
  margin: 0;
  border-left: 1px solid#ffffff;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  height: 72px;
}
.nav-item:hover {
  background-color: #222f3a;
}
.nav-link-border {
  border-right: 1px solid #ffffff;
}
.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.mine-item {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.content-img {
  display: flex;
  border: 1px solid #000000;
  width: 885px;
  height: 530px;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
}
.img-box {
  display: block;
  overflow: hidden;
  width: 320px;
  height: 381px;
}
.main-img {
  width: 320px;
  height: 381px;
  padding: 0;
  transition: 1s;
}
.main-img:hover {
  transform: scale(1.2);
}
.aside-bar {
  border: 1px solid #000000;
  width: 344px;
  height: 399px;
  margin-top: 48px;
  margin-right: 52px;
}
.aside-nav {
  padding: 0;
}
.aside-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.aside-item {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding-top: 27px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 44px;
  height: calc(396px / 5);
}
.aside-item:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
}
.aside-item:hover > .aside-link {
  color: #000000;
}
.aside-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}
.content-txt {
  width: 885px;
}
.main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
  min-height: 120px;
  padding: 0;
}
.text-two {
  margin-top: 34px;
}
.footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 20px;
  height: 69px;
}
.footer-bar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 875px;
  margin-left: 40px;
  padding: 0;
  height: 69px;
}
.footer-item {
  display: flex;
  list-style: none;
  border-bottom: #4bcaff;
  height: 69px;
  align-items: center;
}
.footer-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  align-items: center;
  color: #0c1927;
}
.footer-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-top: 14px;
  padding-bottom: 13px;
}
.footer-bar-text {
  font-weight: 400;
  font-size: 28px;
  color: #0c1927;
  padding-right: 40px;
  margin: 0;
}
